<%= form_with(model: @tweet, local: true) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h4><%= @tweet.errors.count %>件のエラーがあります。</h4>
      <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="formArea">
    <%= form.text_area :content, :size => "60x3" %>
    <%= form.submit 'Tweet', class:'btn btn-default'%>
  </div>
<% end %>
<%= link_to "一覧画面にもどる", tweets_path %>